In [1]:
import pandas as pd
import numpy as np

In [2]:
movies=pd.read_csv(r'data\movies.csv',usecols=['movieId','title'])
rating=pd.read_csv(r'data\ratings.csv',usecols=['userId', 'movieId', 'rating'])

In [3]:
movies.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [4]:
movies.shape

(9742, 2)

In [5]:
rating.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [6]:
print(rating.shape)

(100836, 3)

In [7]:
movies.dtypes

movieId     int64
title      object
dtype: object

In [8]:
rating.dtypes

userId       int64
movieId      int64
rating     float64
dtype: object

In [9]:
data=pd.merge(movies,rating,on='movieId')

In [10]:
data

        movieId                                      title  userId  rating
0             1                           Toy Story (1995)       1     4.0
1             1                           Toy Story (1995)       5     4.0
2             1                           Toy Story (1995)       7     4.5
3             1                           Toy Story (1995)      15     2.5
4             1                           Toy Story (1995)      17     4.5
...         ...                                        ...     ...     ...
100831   193581  Black Butler: Book of the Atlantic (2017)     184     4.0
100832   193583               No Game No Life: Zero (2017)     184     3.5
100833   193585                               Flint (2017)     184     3.5
100834   193587        Bungo Stray Dogs: Dead Apple (2018)     184     3.5
100835   193609        Andrew Dice Clay: Dice Rules (1991)     331     4.0

[100836 rows x 4 columns]

In [11]:
data['title'].nunique()

9719

In [12]:
data.isnull().sum()

movieId    0
title      0
userId     0
rating     0
dtype: int64

In [13]:
movie_ratingCount = (data.groupby(by = ['title'])['rating'].count().reset_index().rename(columns = {'rating': 'totalcount'}) [['title', 'totalcount']])
movie_ratingCount.head()

                                     title  totalcount
0                               '71 (2014)           1
1  'Hellboy': The Seeds of Creation (2004)           1
2                   'Round Midnight (1986)           2
3                      'Salem's Lot (2004)           1
4                'Til There Was You (1997)           2

In [14]:
data = data.merge(movie_ratingCount, left_on = 'title', right_on = 'title', how = 'left')
data.head()

   movieId             title  userId  rating  totalcount
0        1  Toy Story (1995)       1     4.0         215
1        1  Toy Story (1995)       5     4.0         215
2        1  Toy Story (1995)       7     4.5         215
3        1  Toy Story (1995)      15     2.5         215
4        1  Toy Story (1995)      17     4.5         215

In [15]:
data.shape

(100836, 5)

In [16]:
data['totalcount'].describe()

count    100836.000000
mean         58.758777
std          61.965384
min           1.000000
25%          13.000000
50%          39.000000
75%          84.000000
max         329.000000
Name: totalcount, dtype: float64

In [17]:
threshold = 50
rating_popular_movie= data.query('totalcount >= @threshold')
rating_popular_movie.head()

   movieId             title  userId  rating  totalcount
0        1  Toy Story (1995)       1     4.0         215
1        1  Toy Story (1995)       5     4.0         215
2        1  Toy Story (1995)       7     4.5         215
3        1  Toy Story (1995)      15     2.5         215
4        1  Toy Story (1995)      17     4.5         215

In [18]:
data.shape

(100836, 5)

In [19]:
movie_features=data.pivot_table(index='title',columns='userId',values='rating').fillna(0)
movie_features

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
'Hellboy': The Seeds of Creation (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Round Midnight (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Salem's Lot (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Til There Was You (1997),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
eXistenZ (1999),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,5.0,0.0,0.0,0.0,0.0,4.5,0.0,0.0
xXx (2002),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0.0,2.0
xXx: State of the Union (2005),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.5
Â¡Three Amigos! (1986),4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Ã€ nous la libertÃ© (Freedom for Us) (1931),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
from scipy.sparse import csr_matrix

movie_features_matrix = csr_matrix(movie_features.values)

from sklearn.neighbors import NearestNeighbors


model = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model.fit(movie_features_matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [21]:
query_index = np.random.choice(movie_features.shape[0])
print(query_index)
distances, indices = model.kneighbors(movie_features.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 6)

1150

In [22]:
for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(movie_features.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, movie_features.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for Blair Witch (2016):

1: Invincible Shaolin (1978), with distance of 0.0:
2: Digimon: The Movie (2000), with distance of 0.0:
3: Digging Up the Marrow (2014), with distance of 0.0:
4: Tokyo! (2008), with distance of 0.0:
5: Tournament, The (2009), with distance of 0.0: